/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.nav-link:hover{
    color: blue !important;
}
.home{
    width: 100%;
    height: 70vh;
    background-image: url("http://malikhassan.com/html/car-rental/html/images/banner2.jpg");
}
.text1{
    color: white;
    padding-top: 350px;
    padding-left: 120px;
}
.text1 h1{
    font-size: 65px;
}
.text1 p{
    font-size: 20px;
}
.services{
    width: 100%;
    height: 100vh;
}

.text2 {   
    font-size: 50px;
    margin-left: 100px;
    text-align: center;
    padding-top: 50px;
}
.text2 .sp1{
    color: blue;
   font-family: 'Times New Roman', Times, serif;
}
.text2 p{
    padding-top: 40px;
    font-size: 15px;
    width: 87%;
}
.icon{
    display: flex;
}
.vehicles{
    height: 100vh;
    width: 100%;
    background-color: azure;
}
.text3 {   
    font-size: 50px;
    margin-left: 100px;
    text-align: center;
    padding-top: 50px;
}
.text3 .sp1{
    color: blue;
   font-family: 'Times New Roman', Times, serif;
}
.row ul{
    margin-left: 150px;
    padding-top: 20px;
    
}
.row ul li{
   list-style: none;
   font-size: 20px;
   color: black;
}
.row ul li:hover{
    color: blue;
}
.btn1{
    font-size: 25px;
    color: aliceblue;
    background-color: blue;
    border-radius: 7px;
}
.btn1:hover{
    background-color: black;
}
.Logo{
    height: 70vh;
    width: 100%;
    background-image: url("https://mobirise.com/extensions/workshopamp/assets/images/background5.jpg");
}
.text4{
    font-size: 30px;
    color:red;
}
.text4 h2{
    font-size: 50px;
    color:darkgreen;
}
